
.boton-enviar-tipo-pago {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    
}

.boton-enviar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;   
    
}